body{
    background-color: rgb(250, 248, 248);  
    text-align: center;
    font-family: "Sofia";
    font-size: 17px;
}

h1{
    text-align: center;
    font-family: "Sofia";
    font-size: 30px;
    color: #10a5fc;
}

.pname{
  position: relative;
  top: 0px;
  left: 0px;

}

.dname{
    position: relative;
    top: 15px;
    left: 0px;
  
}


.dov{
  position: relative; 
  top: 20px;
  left: 5px;

}

.dot{
    position: relative; 
    top: 25px;
    left: 5px;
  
  }

.napp{
  position: relative; 
  top: 40px;
  left: 5px;

}

.mpres{
  position: relative; 
  top: 40px;
  left: 5px;

}

.rel{
  position: relative; 
  top: 50px;
  left: 0px;

}
.save {
    position: relative; 
    top: 75px;
    left: 0px;
    width: 100px;
    height: 30px;
    background-color: white;
    color: black;
    font-size: medium;
    border: 1px solid black;  
    border-radius: 2px;
    font-family: "Sofia";
  }

  .cancel {
    position: relative; 
    top: 75px;
    left: 5px;
    width: 100px;
    height: 30px;
    background-color: white;
    color: black;
    font-size: medium;
    border: 1px solid black;  
    border-radius: 2px;
    font-family: "Sofia";
  }